<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.connect">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iter_connect_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iter_connect_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Connect">
        <activity
            android:name=".searchRoom"
            android:exported="false" />
        <activity
            android:name=".AboutPage"
            android:exported="false" />
        <activity
            android:name=".JoinRoom"
            android:exported="false" />
        <activity
            android:name=".MenuScreen"
            android:exported="false" />
        <activity
            android:name=".SettingPage"
            android:exported="false" />
        <activity
            android:name=".ChatRoom"
            android:exported="false" />
        <activity
            android:name=".CreateRoom"
            android:exported="false" />
        <activity
            android:name=".SigninPage"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>